<div class="comix-navigation">
    <div class="comix-navigation__btn js-comix-start">Начало</div>
    <div class="comix-navigation__btn js-comix-prev">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 6L9 12L15 18" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </div>
    <div class="comix-navigation__btn js-comix-random">Рандом</div>
    <div class="comix-navigation__btn js-comix-next">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 18L15 12L9 6" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </div>
    <div class="comix-navigation__btn js-comix-end">Конец</div>
</div>