<div class="section comix">
    <div class="container comix__container">
        <h2 class="comix__title js-comix-title">Загрузка заголовка ...</h2>
        <div class="comix__date">Дата публикации: <span class="js-comix-date">Загрузка...</span></div>

        <div class="comix-navigation">
            <div class="comix-navigation__btn js-comix-start">Начало</div>
            <div class="comix-navigation__btn js-comix-prev">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 6L9 12L15 18" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
            <div class="comix-navigation__btn js-comix-random">Рандом</div>
            <div class="comix-navigation__btn js-comix-next">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 18L15 12L9 6" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
            <div class="comix-navigation__btn js-comix-end">Конец</div>
        </div>

        <div class="comix__img-wrap js-comix-image-wrap">
            <img src="" class="comix__img js-comix-image" alt="">
            <div class="comix__img-load">Загрузка...</div>
        </div>
        

        <p class="js-comix-description">Загрузка описания ...</p>
        
        <div class="comix-navigation">
            <div class="comix-navigation__btn js-comix-start">Начало</div>
            <div class="comix-navigation__btn js-comix-prev">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 6L9 12L15 18" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
            <div class="comix-navigation__btn js-comix-random">Рандом</div>
            <div class="comix-navigation__btn js-comix-next">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 18L15 12L9 6" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
            <div class="comix-navigation__btn js-comix-end">Конец</div>
        </div>
    </div>
</div>