<div class="section comix">
    <div class="container comix__container">
        <h2 class="comix__title js-comix-title">Загрузка заголовка ...</h2>
        <div class="comix__date">Дата публикации: <span class="js-comix-date">Загрузка...</span></div>

        {{> comix/comix-navigation}}

        <div class="comix__img-wrap js-comix-image-wrap">
            <img src="" class="comix__img js-comix-image" alt="">
            <div class="comix__img-load">Загрузка...</div>
        </div>

        <p class="js-comix-description">Загрузка описания ...</p>
        
        {{> comix/comix-navigation}}
    </div>
</div>