.last-comix{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 10px);
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 30px;

    $parent: &;

    &__link{
        @include flex-center;
        width: calc(20% - 20px);
        margin: 5px;
        height: 162px;
        overflow: hidden;
        padding: 4px;
        border: 5px solid #f6f6f6;

        &:hover{
            #{$parent}{
                &__image{
                    transform: scale(1.1);
                }
            }
        }
    }
    &__image{
        transition: 0.3s;
    }
}