<section class="important-info section">
    <div class="container important-info__container">

        {{> comix/last-comix/last-comix}}

       <p>
            <a href="#">RSS Feed</a> -
            <a href="#">Atom Feed</a> -
            <a href="#">Email</a>
       </p>
       
       <h2 class="important-info__title">
            Comics I enjoy:
       </h2>
        <p>
            <a href="http://threewordphrase.com/">Three Word Phrase</a>,
            <a href="http://www.smbc-comics.com/">SMBC</a>,
            <a href="http://www.qwantz.com">Dinosaur Comics</a>,
            <a href="http://oglaf.com/">Oglaf</a> (nsfw),
            <a href="http://www.asofterworld.com">A Softer World</a>,
            <a href="http://buttersafe.com/">Buttersafe</a>,
            <a href="http://pbfcomics.com/">Perry Bible Fellowship</a>,
            <a href="http://questionablecontent.net/">Questionable Content</a>,
            <a href="http://www.buttercupfestival.com/">Buttercup Festival</a>,
            <a href="http://www.mspaintadventures.com/?s=6&amp;p=001901">Homestuck</a>,
            <a href="http://www.jspowerhour.com/">Junior Scientist Power Hour</a>
        </p>

        <h2 class="important-info__title">
            Other things:
       </h2>
        <p>
            <a href="https://medium.com/civic-tech-thoughts-from-joshdata/so-you-want-to-reform-democracy-7f3b1ef10597">Tips on technology and government</a>,<br> 
            <a href="https://www.nytimes.com/interactive/2017/climate/what-is-climate-change.html">Climate FAQ</a>,
            <a href="https://twitter.com/KHayhoe">Katharine Hayhoe</a>
        </p>

        <p>
            xkcd.com is best viewed with Netscape Navigator 4.0 or below on a Pentium 3±1 emulated in Javascript on an Apple IIGS
at a screen resolution of 1024x1. Please enable your ad blockers, disable high-heat drying, and remove your device
from Airplane Mode and set it to Boat Mode. For security reasons, please leave caps lock on while browsing.
        </p>

        <p>
            This work is licensed under a
            <a href="http://creativecommons.org/licenses/by-nc/2.5/">Creative Commons Attribution-NonCommercial 2.5 License</a>.
        </p>
        <p>
            This means you're free to copy and share these comics (but not to sell them). 
            <a rel="license" href="/license.html">More details</a>.
        </p>

    </div>
</section>